[project]
	description = this is a test repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tchincc
[access "refs/for/refs/*"]
	read = group user/tchincc
	push = group user/tchincc
	label-Code-Review = -2..+2 group user/tchincc
	label-Verified = -1..+1 group user/tchincc
	rebase = group user/tchincc
	removeReviewer = group user/tchincc
	submit = group user/tchincc
[access "refs/heads/*"]
	read = group user/tchincc
	create = group user/tchincc
	push = +force group user/tchincc
	pushMerge = group user/tchincc
[access "refs/tags/*"]
	push = group user/tchincc
	push = +force group user/tchincc
